.main-post-rail {
  text-align: left;

  .post {
    .bg-white {
      background-color: #EBF5FF;
      border-radius: 1rem;
      padding: 1.5rem;
      margin-top: 2rem;
      display: flex;
      flex-direction: column;

      .flex {
        align-items: center;

        .w-12 {
          width: 6rem;
          height: 6rem;
          margin-bottom: -1rem;

          img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .ml-3 {
          margin-left: 0.75rem;

          .font-bold {
            font-weight: bold;
          }

          .text-xs {
            font-size: 0.75rem;
          }

          .flex {
            .ml-1 {
              margin-left: 0.25rem;
            }
          }
        }
      }

      .my-3 {
        margin: 0.75rem 0;
      }

      .-mx-5 {
        margin: 0 -2%;
        width: 104%;
      }

      .button-group {
        display: flex;
        align-items: center;
        margin-top: 0.5rem;

        .like-button,
        .comment-button {
          flex: 1;
          padding: 0.75rem 1rem;
          font-size: 1rem;
          transition: background-color 0.3s;
          margin: 0 1%;
          background-color: #f0f2f5;
          color: #1c1e21;

          &:hover {
            background-color: #e4e6e9;
          }
        }

        .icon {
          margin-right: 0.5rem;
        }
      }

      .title-container {
        display: flex;
        align-items: center;
      }

      .title-box {
        background-color: #EBF5FF;
        padding: 0.2rem;
        border-radius: 0.2rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 0.3rem;
      }

      .title {
        color: black;
        font-weight: bold;
      }

      .subject-box {
        margin-bottom: 0.5rem;
      }
    }
  }

  .profile-nickname {
    width: auto;
    white-space: nowrap;
  }

  .text-xs {
    font-size: 0.75rem;
    white-space: nowrap;
    margin-top: 0.5rem;
  }

  .position-relative {
    position: relative;

    .ProfileDropdownMenu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1;
    }
  }

  /* 모달 스타일 */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .modal-content {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    width: 50%;
    max-width: 500px;
    position: relative;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid #dfe3e8;
  }

  .modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #1877f2;
  }

  .comment-input {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    border: 1px solid #dfe3e8;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }


.dislike-button {
  background-color: #0f2654;
  color: white;
}

.like-button:hover {
  background-color: #165dbb;
}

  input {
    flex: 1;
    border: none;
    padding: 0.5rem;
    outline: none;
    font-size: 1rem;
  }


  button {
    background-color: #1877f2;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #165dbb;
    }
  }
}

.comments {
  margin-top: 1rem;
  max-height: 500px;
  overflow-y: auto;
  border-top: 1px solid #dfe3e8;
  padding-top: 0.5rem;

  p {
    margin: 0;
    padding: 0.25rem 0;
    border-bottom: 1px solid #dfe3e8;

    &:nth-child(10n) {
      border-bottom: none;
    }
  }
}

.comment-item {
  background-color: #f7f7f7;
  border-radius: 8px;
  padding: 1rem;
  margin-top: 0.5rem;
  display: flex;
  align-items: start;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  .comment-author {
    margin-right: 1rem;

    img.comment-author-image {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      object-fit: cover;
    }

    p.comment-author-name {
      margin-top: 0.2rem;
      font-weight: bold;
    }
  }

  .comment-content {
    flex-grow: 1;

    p {
      margin: 0;
    }

    .comment-date {
      margin-top: 0.5rem;
      font-size: 0.7rem;
      color: #888;
    }
  }
}