.main-post-rail {
  text-align: left;

  .post {
    .bg-white {
      background-color: #EBF5FF;
      border-radius: 1rem;
      padding: 1.5rem 1.5rem;
      margin-top: 4rem;

      .flex {
        display: flex;
        align-items: center;
        justify-content: center; // 가운데 정렬에서 시작점 정렬로 변경

        .w-12 {
          width: 3rem;
          height: 3rem;

          img {
            border-radius: 50%;
            width: 100%; // 이미지가 부모 요소의 크기에 맞게 조절되도록
            height: 100%; // 이미지가 부모 요소의 크기에 맞게 조절되도록
            object-fit: cover; // 이미지 비율 유지하며 채우기
          }
        }

        .ml-3 {
          margin-left: 0.75rem;

          p {
            &.font-bold {
              font-weight: bold;
            }

            &.text-xs {
              font-size: 0.75rem;
            }
          }

          .flex {
            display: flex;

            .ml-1 {
              margin-left: 0.25rem;
            }
          }
        }
      }

      .my-3 {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
      }

      .-mx-5 {
        margin-left: -1.25rem;
        margin-right: -1.25rem;
      }
    }
  }
}

.button {
  padding: 0.5rem 1rem; // 텍스트 기반 버튼의 크기 조정
  border: none;
  border-radius: 0.25rem; // 경계 반경 조정
  font-size: 0.875rem; // 글꼴 크기 조정
  cursor: pointer;
  transition: background-color 0.3s;
}

.like-button {
  background-color: #1877f2;
  color: white;
}

.like-button:hover {
  background-color: #165dbb;
}

.comment-button {
  background-color: #f0f2f5;
  color: #1c1e21;
  margin-left: 0.625rem; // 여백 조정
}

.comment-button:hover {
  background-color: #e4e6e9;
}

.button-group {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 0.5rem; // 아이콘 간격 조정
}

/* 모달의 전체 레이아웃 및 배경 */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  /* 다른 요소 위에 위치하도록 */
}

/* 실제 모달 창 */
.modal-content {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  width: 50%;
  max-width: 500px;
  /* 모달의 최대 넓이 설정 */
  position: relative;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  /* 그림자 효과 */
}

/* 모달 닫기 버튼 */
.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}