.container {
    display: grid;
    grid: '. . .';
    gap: 0px;
    background: white;
    left: 500px;
    border: 20px solid #ccc;

}

.item {
    padding: 1px;
    background: white;
}

img {
    object-fit: cover;
}