.clock {
  font-size: 3rem;
  color: #888;
  background-color: #fff;
  padding: 5px;
  border-radius: 3px;
  display: inline-block;
  margin-top: 20px;
}

.clock h2 {
  position: relative;
  top: -9rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

.clock h4 {
  font-size: 1rem;
  top: -7rem;
}